body {
   color: rgb(4, 4, 28);
   background-color: rgb(200, 198, 198);
   font-size: 16px;
   font-family: Helvetica, Arial, sans-serif;
   margin: 50px;
}

header{
   width: 100%;
   background-color: rgb(172, 172, 172);
   padding:  1em;
}

header nav ul li{
   margin: auto;
   list-style-type: none;
   text-decoration: none;
}

header nav ul{
   display: flex;
}

figcaption{
   background-color: rgb(172, 172, 172);
   color: rgb(4, 4, 28);
   width: 30%;
}

h1 {
   font-size: 2em;
   text-align: center;
 }

h2 {
   font-size: 1,6em;
   padding: 0 2em
 }


ul {
   list-style: none;
 }
 

a {
   text-decoration: none;
   background-color: gray;
 }


p {
   margin: 50px;
}

 section {
   border: 0.2em solid black;
   margin: 0.3em 0;
 }

